.footer{
    position: relative;
    padding: 24px;
    background-color: transparent;
	border-top: 0;
	background-image: url(../../../images/common/footer-bg.webp);
	background-repeat: no-repeat;
	background-position: bottom
}
.copyright-text {
    margin: 20px 0;
    color: #fff;
}
/* .footer .social-link li {
    display: inline-block;
    font-display: 20px;
    background-color: #fff;
    color: black;
    width: 40px;
    padding: 40px 0 5px;
    margin: 0 8px;
    text-align: center;
    border-radius: 0 0 5px 5px;
    transition: all 0.5s linear;
} */
/* .footer .social-link:hover  {
    transition: all 0.5s linear;
    margin-top: 20px;
} */
.footer-plan{
    position: relative;
    top: -10;
}

.footer .social-link{
    position: relative;
    top: 160px;
}

.footer ul{
    margin-left: 0;
}
.footer li {
    color: #222;
    text-decoration: none;
    list-style: none;
    display: inline;
    margin-top: 0;

}
.footer li a{
    position: relative;

    background-color: #fff;
    color: black;
    width: 40px;
    padding: 40px 6px 10px;
    margin: 0 8px;
    border-radius: 5px;
    top: 0;
    transition: all 0.3s linear;

}
.footer li a:hover{
    position: relative;
    top: 5px;
    transition: all 0.3s linear;
    
}
@media (max-width: 768px){
    .footer .social-link{
        padding-left: 0;
        top: 50px;
    }
}

@media (max-width: 480px){
    .footer .social-link{
        padding-left: 0;
        top: 0;
    }
    .footer li a{
        padding: 10px 8px 10px;
    margin: 0 4px;
    }
}
