@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --font-laila: "Laila", sans-serif;
  --font-courgette: "Courgette", sans-serif;
}
.banner-carousel-section {
  margin-top: -40px;
}
.carousel-control-prev,
.carousel-control-next {
  width: 8%;
}
/*#### Features section ####*/
.features-section {
  position: relative;
  z-index: 1;
  padding-bottom: 60px;
}
.features-section::before {
  background-image: url(/images/features-bg.png);
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  z-index: -1;
  position: absolute;
  top: -50px;
  width: 100%;
  height: 240px;
}
.features-section .features-item {
  padding: 0 30px;
  text-align: center;
  margin-top: -70px;
  -webkit-transition: all ease-in-out .15s;
  -o-transition: all ease-in-out .15s;
  transition: all ease-in-out .15s;
}
.features-section .features-item:hover{
  margin-top: -80px;
  -webkit-transition: all ease-in-out .15s;
  -o-transition: all ease-in-out .15s;
  transition: all ease-in-out .15s;
}
.features-section .features-item img {
  margin-bottom: 10px;
}
.features-section .features-item h6 {
  color: #2e2e2e;
  font-size: 18px;
  display: block;
}

/*#### About-as section ####*/
.about-us-section h2 {
  font-weight: 400;
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 0;
  color: #e3007c;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 32px;
}
.about-us-section p {
  color: #2e2e2e;
  font-size: 18px;
}

/*#### About-as section ####*/
.our-campus-section {
  padding: 60px 0;
}
.our-campus-section h2 {
  margin-bottom: 30px;
}
.our-campus-section .camp-img {
  margin-bottom: 30px;
}
.our-campus-section .camp-img h6 {
  display: block;
  color: #2e2e2e;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}
.our-campus-section .more-brown {
  display: flex;
  justify-content: end;
  margin-right: 80px;
}

/*#### Ahmedabad-juniors-philosophy-section ####*/
.ahmedabad-juniors-philosophy-section {
  position: relative;
  padding: 60px 0;
}
.ahmedabad-juniors-philosophy-section h2 {
  font-size: 90px;
  line-height: 68px;
  color: #534494;
  display: inline-block;
}
.ahmedabad-juniors-philosophy-section h2 span {
  display: block;
  color: #534494;

  font-size: 38px;
  padding-right: 30px;
  font-weight: 500;
}
.ahmedabad-juniors-philosophy-section h2 .philosophy-text {
  text-align: right;
}
.ahmedabad-juniors-philosophy-section h6 {
  font-size: 24px;
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
  color: #2e2e2e;
}
.ahmedabad-juniors-philosophy-section p {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 300;
  color: #2e2e2e;
}
.more-philosophy-purple {
  position: absolute;
  bottom: 0px;
  right: 60px;
  z-index: 9;
}
/*#### Franchise Opportunity ####*/

.franchise-opportunity-section h2 {
  font-weight: 400;
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 0;
  margin-bottom: 30px;
}
.franchise-opportunity-section .franchise-opportunity-info span {
  font-weight: 500;
  text-transform: uppercase;
  color: #2e2e2e;
}
.franchise-opportunity-section img {
  margin-bottom: 30px;
}
.franchise-opportunity-section .franchise-opportunity-info p {
  font-size: 18px !important;
  margin-bottom: 15px;
  font-weight: 300;
  font-family: var(--font-laila);
  color: #2e2e2e;
  line-height: 24px;
}
/*#### Benefits-of-partnering ####*/
.benefits-of-partnering {
  position: relative;
  padding: 60px 0 100px 0;
}
.benefits-of-partnering h2 {
  margin-bottom: 30px;
}
.benefits-of-partnering .bg-benefits {
  background-image: url(/images/benefits-of-partnering-with-aj-bg.png);
  background-repeat: no-repeat;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #161616;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.benefits-of-partnering .more-pink {
  position: absolute;
  bottom: 0;
  right: 80px;
}
/*#### Our-programs section ####*/
.our-programs-section {
  background-color: #00c9fd !important;
  position: relative;
  padding: 60px 0;
}
.our-programs-section h4 {
  text-align: center;
  font-weight: 400;
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 30px;
  color: #fff;
  font-family: var(--font-courgette);
}
.our-programs-section p {
  color: #fff;
  font-size: 18px;
}
.our-programs-section::before {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 265px;
  background-image: url("/images/cloud-bg.png");
  content: "";
  left: 0;
}

/*#### Teachers-training-section ####*/
.teachers-training-section {
  position: relative;
  background-color: #ffd200 !important;
  padding-top: 60px;
}
.teachers-training-section img {
  width: 100%;
}
.teachers-training-section h4 {
  font-weight: 400;
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 0;
  color: #000;
  font-family: var(--font-courgette);
  text-align: center;
}
.teachers-training-section .hire-expert-pink {
  position: absolute;
  bottom: 0;
  right: 80px;
}

/*#### Blog section ####*/
.blog-section {
  position: relative;
  padding: 60px 0;
}
.blog-section .blog-title {
  font-weight: 400;
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 0;
  color: #000;
  text-align: center;
  font-family: var(--font-courgette);
}
.blog-section .more-purple {
  position: absolute;
  bottom: 50px;
  right: 60px;
  z-index: 9;
}

/*#### contact section ####*/
.contact-section{
  padding: 60px 0;
}
.contact-detail {
  text-align: center;
}
.contact-detail h2{
  font-size: 28px;
  line-height: 28px;
  color: #242424;
  font-weight: 500;
  margin-bottom: 20px;
  display: block;
}

.contact-detail p{
  font-size: 20px;
  color: #242424;
}
.contact-detail a{
  display: block;
  font-size: 20px;
  color: #242424;
  text-decoration: none;
  margin-bottom: 10px;
}

.franchise-enquiry-form{
  width: 86%;
  margin: 0 auto;
  padding: 45px 30px 25px;
  background-image: url("/images/form-bg.webp");
  background-repeat: no-repeat;
  background-size: contain;
}
.franchise-enquiry-form .franchise-heading{
  margin: 0 0 -40px;
  position: relative;
  top: -60px;
  text-align: center;
}

.franchise-enquiry-form .franchise-form .col-form {
  margin-bottom: 15px;
}
.franchise-enquiry-form .franchise-form .sm-form-control{
  border: 1px solid #87898a;
  padding: 0 10px;
  line-height: 36px;
  letter-spacing: .5px;
  font-size: 16px;
  background: 0 0;
  display: block;
  width: 100%;
  color: #555;
  border-radius: 0 !important;
  -webkit-transition: border-color ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s;
  transition: border-color ease-in-out .15s;
}
@media (1024x <=width <=1200px){
  .franchise-enquiry-form{
    background-size: cover;
  }
}
@media (768px <=width <=1023px) {
 
.banner-carousel-section {
  margin-top: -10px;
}
.features-section::before{
  top: -18px;
}
.features-section .features-item{
  margin-top: 0;
}

.benefits-of-partnering .bg-benefits{
  height: 120px;
    margin-bottom: 20px;
}
.benefits-of-partnering .bg-benefits br{
  display: none;
}
.more-philosophy-purple, .benefits-of-partnering .more-pink{
  position: relative;
  text-align: right;
}
.teachers-training-section .hire-expert-pink{
  background-color: #534494;
  position: relative;
  right: 0;
}
.hire-expert-pink{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hire-expert-pink a img{
  width: 100%;
  margin:  0 auto;
}
.franchise-enquiry-form{
  width: 100%;
}
.franchise-enquiry-form{
  background-size: cover;
}
}
@media (568px <=width <=767px){
  .teachers-training-section .hire-expert-pink{
    background-color: #534494;
    position: relative;
    right: 0;
  }
  .hire-expert-pink{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hire-expert-pink a img{
    width: 100%;
    margin:  0 auto;
  }
  .franchise-enquiry-form{
    background-size: cover;
    margin-top: 30px;
  }
}

@media (320px <=width <=567px) {
  .banner-carousel-section .carousel-control-prev, .our-programs-section .carousel-control-prev{
    left: 10px;
  }
  .banner-carousel-section .carousel-control-next, .our-programs-section .carousel-control-next{
    right: 10px;
  }
  .banner-carousel-section .carousel-control-prev img, .our-programs-section .carousel-control-prev img{
    width: 30px;
    height: 30px;
  }
  .banner-carousel-section .carousel-control-next img, .our-programs-section .carousel-control-next img{
    width: 30px;
    height: 30px;
  }
  .benefits-of-partnering .bg-benefits{
    font-size: 16px;
    padding: 10px;
    height: 100px;
    margin-bottom: 20px;
    background-size: contain;
  }
  .about-us-section{
    padding: 0 20px;
  }
  .about-us-section h2{
   margin-top: 0;
  }
  .features-section{
    padding-bottom: 40px;
  }
  .features-section::before{
    top: -10px
  }
  .franchise-enquiry-form{
    background-size: cover;
    background-position: center;
    margin-top: 20px;
  }
  .features-section .features-item{
    padding:0 20px;
  }
  .features-section .features-item h6{
    font-size: 16px;
  }
  .features-section .features-item h6 br{
    display: none;
  }
  .ahmedabad-juniors-philosophy-section{
    padding: 40px 20px;
  }
  .franchise-opportunity-section{
    padding: 0 20px;
  }
  .teachers-training-section .hire-expert-pink{
    background-color: #534494;
    position: relative;
    right: 0;
  }
  .hire-expert-pink{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hire-expert-pink a img{
    width: 100%;
    margin:  0 auto;
  }
  .franchise-enquiry-form{
    background-size: cover;
    margin-top: 30px;
  }
  .more-philosophy-purple{
    position: relative;
    right: 0;
    display: flex;
    justify-content: center;
  }
  .our-campus-section .more-brown{
    justify-content: center;
    margin-right: 0;
  }
  .benefits-of-partnering{
    padding: 40px 0;
  }
  .benefits-of-partnering .more-pink{
    position: relative;
    right: 0;
    display: flex;
    justify-content: center;
  }
  .features-section .features-item {
    margin-top: 20px;
  }
  .banner-carousel-section {
    margin-top: 0px;
  }
}