/* .navbar img {
  position: relative;
  z-index: 1000;
} */
.navbar {
  z-index: 1;
}
.navbar::before {
  position: absolute;
  bottom: -40px;
  width: 100%;
  height: 240px;
  background-image: url(/images/header-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  z-index: -1;
  content: "";
  left: 0;
}
.navbar-without-bg::before {
  background-image: none !important;
}
.navbar ul li > a {
  color: #121413;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0;
  text-transform: none;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: right;
}
